@charset "UTF-8";
html {
  height: 100%; }

body {
  height: 100%; }

.mask {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }
  .mask .alert {
    background: #fff;
    position: absolute;
    width: 370px;
    min-width: 300px;
    border: 1px solid #ccc;
    top: 50%;
    margin-top: -220px;
    margin-left: -160px;
    left: 50%;
    border-radius: 5px; }
    .mask .alert h2 {
      text-align: center;
      line-height: 60px;
      font-size: 24px;
      border-bottom: 1px solid #ccc; }
    .mask .alert p {
      text-align: center;
      font-size: 18px;
      line-height: 54px; }
    .mask .alert .false-alert {
      line-height: 40px;
      height: 40px;
      color: red;
      font-size: 20px;
      text-align: center; }
    .mask .alert .input {
      text-align: center;
      line-height: 40px; }
      .mask .alert .input input {
        width: 300px;
        height: 40px;
        text-indent: 5px;
        font-size: 14px; }
    .mask .alert .btns {
      line-height: 80px;
      text-align: center; }
      .mask .alert .btns button {
        width: 100px;
        height: 40px;
        background: #ff7e00;
        border: none;
        font-size: 20px;
        color: #fff; }

.selectIndex {
  overflow: hidden; }
  .selectIndex .select-left {
    width: 3rem; }
    .selectIndex .select-left .menu {
      width: 100%;
      background: url("../images/3-bgnev.png") no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%; }
      .selectIndex .select-left .menu li {
        height: 2.16rem;
        border-bottom: 1px solid #736E6B;
        color: #ffffff;
        cursor: pointer;
        font-size: 0; }
        .selectIndex .select-left .menu li i {
          display: inline-block;
          width: 38%;
          height: 100%;
          vertical-align: top;
          padding-left: 0.31rem;
          padding-top: 0.8rem; }
          .selectIndex .select-left .menu li i img {
            vertical-align: top;
            height: auto;
            width: 0.67rem; }
        .selectIndex .select-left .menu li span {
          display: inline-block;
          height: 100%;
          width: 62%;
          vertical-align: top;
          padding-left: 0.23rem;
          font-size: 0.48rem;
          padding-top: 0.75rem; }
        .selectIndex .select-left .menu li .guidance {
          display: inline-block;
          height: 100%;
          width: 62%;
          vertical-align: top;
          padding-left: 0.23rem;
          font-size: 0.48rem;
          padding-top: 0.43rem; }
      .selectIndex .select-left .menu li.active i {
        background: #ff7e00; }
      .selectIndex .select-left .menu li.active span, .selectIndex .select-left .menu li.active .guidance {
        color: #ff7e00;
        background: #2a2d32; }
  .selectIndex .select-right {
    padding-left: 3rem;
    /*系统版本*/ }
    .selectIndex .select-right .system-ver {
      width: 100%;
      background: #ff7e00;
      color: #fefefe;
      font-size: 0.30rem;
      text-align: right;
      padding: 0.16rem; }
    .selectIndex .select-right .sel-module {
      color: #333333;
      font-size: 0.72rem;
      text-align: center;
      padding-top: 1.25rem; }
      .selectIndex .select-right .sel-module div {
        display: inline-block;
        cursor: pointer;
        width: 5.16rem;
        height: 6.81rem; }
        .selectIndex .select-right .sel-module div span {
          margin-top: 1.51rem;
          padding: 0 0.69rem;
          display: block;
          width: 100%; }
      .selectIndex .select-right .sel-module .grmx {
        background: url("../images/11-P.png") no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        vertical-align: top; }

/*# sourceMappingURL=selectIndex.css.map */
