@charset "utf-8";
body{
  font-family: "Microsoft YaHei";
}
.selectIndex{
  overflow: hidden;
  .select-left{
    width:3rem;
    .menu{
      width: 100%;
      background: url("../images/3-bgnev.png") no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      li{
        height: 2.16rem;
        line-height: 2.16rem;
        border-bottom:1px solid #736E6B;
        font-size:0.48rem;
        color:#ffffff;
        cursor:pointer;
        i{
          display: inline-block;
          width: 38%;
          height: 100%;
          vertical-align: top;
          padding-left:0.31rem;
          padding-top: 0.80rem;
          img{
            vertical-align: top;
            height: auto;
            width: 0.67rem;
          }
        }
        span{
          display: inline-block;
          height: 100%;
          width: 62%;
          vertical-align: top;
          padding-left: 0.23rem;
        }
      }
      li.active{
        i{
          background: #ff7e00;
        }
        span{
          color:#ff7e00;
          background:#2a2d32;
        }
      }
      li.guidance{
        span{
          line-height: normal;
          padding-top: 0.5rem;
        }
      }
    }
  }
  .select-right{
    padding-left:3rem;
    /*用户信息*/
    .info{
      overflow: hidden;
      background: #ff7e00;
      position: relative;
      height: 1.16rem;
      ul li{
        float: left;
        line-height: 0.96rem;
        margin-top: 0.10rem;
        height: 0.96rem;
        color: #ffffff;
        font-size: 0.30rem;
        padding-left: 0.20rem;
        border-right: 1px dashed #ffffff;
        //min-width: 2.90rem;
        padding-right: 0.15rem;
        i img{
          vertical-align: middle;
          width: 0.48rem;
          height: auto;
        }
        span{
          padding-left: 0.20rem;
          display: inline-block;
          vertical-align: top;
        }
      }
      .closed{
        position: absolute;
        right:0.45rem;
        top:50%;
        margin-top: -0.205rem;
        cursor:pointer;
        img{
          width: 0.41rem;
          height: auto;
        }
      }
    }
    /*表格数据*/
    .content{
      padding-top: 0.26rem;
      height: 9.55rem;
      overflow-y: auto;
      .data{
        border-collapse: collapse;
        margin:0 auto;
        width: 95.743368%;
        td,th{
          border: 1px solid #d2d2d2;
          text-align: center;
        }
        thead{
          font-size: 0.30rem;
          color:#ff7e00;
          background: #fff3e8;
          line-height: 3.53;
        }
        tbody{
          font-size:0.30rem;
          color:#333333;
          line-height: 2.36;
        }
      }
    }
  }
}