<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{username}-%X{times}] %logger{0} - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="com.wit.fxp" level="debug"/>
  <logger name="org.hibernate.SQL" level="debug"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
