<!--<link rel="stylesheet" href="../../css/reponse.css">
<link rel="stylesheet" href="../../css/guidance.css"/>
<title>指导</title>-->
<div class="selectIndex">
    <div class="select-left fl">
        <ul class="menu">
            <li ui-sref="gaikuang">
                <i class="gaik"><img src="../images/n1-gai.png" alt=""/></i><span>概况</span>
            </li>
            <li ui-sref="useList">
                <i class="dianc"><img src="../images/n2-dian.png" alt=""/></i><span>点餐</span>
            </li>
            <li ui-sref="selectIndex">
                <i class="chax"><img src="../images/n3-cha.png" alt=""/></i><span>查询</span>
            </li>
            <li class="active" ui-sref="guidance">
                <i class="zhid"><img src="../images/n4-zhi.png" alt=""/></i><div class="guidance">
                <p>饮食</p>
                <p>指导</p>
            </div>
            </li>
            <li ui-sref="manage">
                <i class="manage"><img src="../images/5-manage.png" alt=""/></i><span>管理</span>
            </li>
        </ul>
    </div>
    <div class="select-right">
        <div class="system-ver"><span ng-bind="teamName"></span></div>
        <div class="sel-module">
            <ul>
                <li ui-sref="gaoxueya({id:1})">
                    <img src="../images/16-gao.png" alt=""/>
                    <span>高血压饮食指导</span>
                </li>
                <li ui-sref="gaoxueya({id:2})">
                    <img src="../images/17-tang.png" alt=""/>
                    <span>糖尿病饮食指导</span>
                </li>
                <li ui-sref="gaoxueya({id:3})">
                    <img src="../images/18-tong.png" alt=""/>
                    <span>高尿酸与痛风饮食指导</span>
                </li>
                <li ui-sref="gaoxueya({id:4})">
                    <img src="../images/19-chang.png" alt=""/>
                    <span>实用日常饮食指导</span>
                </li>
            </ul>
        </div>
    </div>