<!--<link rel="stylesheet" href="../../css/selectgrmx.css"/>
<title>查询-个人明细</title>-->
<div class="selectIndex">
    <div class="select-left fl">
        <ul class="menu">
            <li ui-sref="gaikuang">
                <i class="gaik"><img src="../images/n1-gai.png" alt=""/></i><span>概况</span>
            </li>
            <li ui-sref="useList">
                <i class="dianc"><img src="../images/n2-dian.png" alt=""/></i><span>点餐</span>
            </li>
            <li class="active" ui-sref="selectIndex">
                <i class="chax"><img src="../images/n3-cha.png" alt=""/></i><span>查询</span>
            </li>
            <li ui-sref="guidance" class="guidance">
                <i class="zhid"><img src="../images/n4-zhi.png" alt=""/></i><span>饮食 <br/>指导</span>
            </li>
            <li ui-sref="manage">
                <i class="manage"><img src="../images/5-manage.png" alt=""/></i><span>管理</span>
            </li>
        </ul>
    </div>
    <div class="select-right">
        <div class="info">
            <ul>
                <li>
                    <i><img src="../images/14-people.png" alt=""/></i>
                    <span ng-bind="name"></span>
                </li>
                <li ng-bind="'客户类型：'+sTName">
                </li>
                <li>
                    <i><img src="../images/15-money2.png" alt=""/></i>
                    <span ng-bind="'余额：¥ '+balance"></span>
                </li>
                <li ng-bind="'政府补助：¥ '+govSum">
                </li>
                <li ng-bind="'自费：¥ '+ownSum">
                </li>
            </ul>
            <span class="closed" ng-click="closed()"><img src="../images/off.png" alt=""/></span>
        </div>
        <div class="content">
            <table class="data">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>就餐日期</th>
                        <th>餐别</th>
                        <th>状态</th>
                        <th>套餐</th>
                        <th>份数</th>
                        <th>单价(元)</th>
                        <th>政府补助(元)</th>
                        <th>自费(元)</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in list">
                    <td ng-bind="$index + 1"></td>
                    <td ng-bind="item.mealInfo.mealDate | date:'yyyy-MM-dd'"></td>
                    <td ng-bind="item.mealInfo.mealTypeName"></td>
                    <td ng-bind="item.lastState.lastState"></td>
                    <td ng-bind="item.mealContext"></td>
                    <td ng-bind="item.settleInfo.quantity"></td>
                    <td ng-bind="item.mealInfo.mealPrice"></td>
                    <td ng-bind="item.settleInfo.sumReceivable"></td>
                    <td ng-bind="item.settleInfo.sumPayment"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
